.first{
  background-color: #16910b;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-container {
  width: 50%;
  max-width: 50vw;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  border: 1px solid #e60b3a;
  border-radius: 10px;
  padding: 20px;
  background-color: #1e0c83;
  box-shadow: 0 4px 8px rgba(214, 29, 5, 0.904);
}

.select-label {
  margin: 10px 0;
  text-align: center;
  color: aqua;
}

select {
  padding: 8px;
  border: 2px solid #16910b;
  text-align: center;
  border-radius: 4px;
  margin-left: 10px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  color: #912d2d;
  border: 2px solid #1e0c83;
}
